<form action="" method="POST" onsubmit="save(event)">
  <input id="username" style="display: none;" name="username" autocomplete="username">
  <p>Current Password: <input id="current" required name="current" type="password" autocomplete="current-password"></p>
  <p>New Password: <input id="password" required name="password" type="password" autocomplete="new-password"></p>
  <button type="submit">Set password</button>
</form>
<script>
function save (e) {
  if (document.getElementById('current').value !== localStorage.smalltalkPassword) {
    e.preventDefault()
    alert('Incorrect current password!')
    return false
  }
  localStorage.smalltalkPassword = document.getElementById('password').value
  return true
}
document.getElementById('username').value = localStorage.smalltalkUsername
</script>
